<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dependency-heading"
        data-cy="DependencyCreateUpdateHeading"
        jhiTranslate="gamaJourneyApp.dependency.home.createOrEditLabel"
      >
        Create or edit a Dependency
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gamaJourneyApp.dependency.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_firstSubcontentId" jhiTranslate="gamaJourneyApp.dependency.firstSubcontentId"
            >First Subcontent Id</label
          >
          <input
            type="text"
            class="form-control"
            name="firstSubcontentId"
            id="field_firstSubcontentId"
            data-cy="firstSubcontentId"
            formControlName="firstSubcontentId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_secondSubcontentId" jhiTranslate="gamaJourneyApp.dependency.secondSubcontentId"
            >Second Subcontent Id</label
          >
          <input
            type="text"
            class="form-control"
            name="secondSubcontentId"
            id="field_secondSubcontentId"
            data-cy="secondSubcontentId"
            formControlName="secondSubcontentId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subcontent" jhiTranslate="gamaJourneyApp.dependency.subcontent">Subcontent</label>
          <select
            class="form-control"
            id="field_subcontent"
            data-cy="subcontent"
            name="subcontent"
            formControlName="subcontent"
            [compareWith]="compareSubcontent"
          >
            <option [ngValue]="null"></option>
            @for (subcontentOption of subcontentsSharedCollection; track $index) {
              <option [ngValue]="subcontentOption">{{ subcontentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
