<div>
  <h2 id="page-heading" data-cy="DependencyHeading">
    <span jhiTranslate="gamaJourneyApp.dependency.home.title">Dependencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gamaJourneyApp.dependency.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dependency"
        [routerLink]="['/dependency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamaJourneyApp.dependency.home.createLabel">Create a new Dependency</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dependencies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gamaJourneyApp.dependency.home.notFound">No Dependencies found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstSubcontentId">
              <div class="d-flex">
                <span jhiTranslate="gamaJourneyApp.dependency.firstSubcontentId">First Subcontent Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="secondSubcontentId">
              <div class="d-flex">
                <span jhiTranslate="gamaJourneyApp.dependency.secondSubcontentId">Second Subcontent Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subcontent.id">
              <div class="d-flex">
                <span jhiTranslate="gamaJourneyApp.dependency.subcontent">Subcontent</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dependency of dependencies(); track trackId(dependency)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dependency', dependency.id, 'view']">{{ dependency.id }}</a>
              </td>
              <td>{{ dependency.firstSubcontentId }}</td>
              <td>{{ dependency.secondSubcontentId }}</td>
              <td>
                @if (dependency.subcontent) {
                  <div>
                    <a [routerLink]="['/subcontent', dependency.subcontent.id, 'view']">{{ dependency.subcontent.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dependency', dependency.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/dependency', dependency.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dependency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
